jupyterlab
pyarrow
pandas
numpy
matplotlib
seaborn
scipy
scikit-learn
wget
konlpy
python-mecab-ko
imblearn
xgboost
lightgbm 
pyLDAvis
jinja2
python-multipart
python-jose[cryptography]
passlib[bcrypt]
pydantic-settings